body {
    background-color: rgb(4, 76, 98);
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

h1 {
    color: rgb(233, 233, 233);
}

h3 {
    text-decoration: underline;
    width: 500px;
    margin: 15px 15px 0px 0px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#components {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(233, 233, 233);
}

#components > div > div {
    display: flex;
    flex-direction: row;
}

#components > div > form > div {
    display: flex;
    flex-direction: row;
}

#components > div > form > div > div{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}


#components > div > div > div{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

label {
    margin-right: 20px;

}

input {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.date {
    width: 203px;
}

textarea {
    height: 100px;
    width: 450px;
    margin-bottom: 10px;
}

button {
    padding-left: auto;
    padding-right: auto;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;



}

#button {
    margin-top: 10px;
    background-color: orange;
}

#added-experience {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.added-experience-component {
    margin: 0px;
}

.tasks {
    inline-size: 500px;
    overflow-wrap: break-word; 

}