body {
    background-color: rgb(2, 222, 2);
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

h3 {
    text-decoration: underline;
    width: 500px;
    margin: 15px 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container > form {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(233, 233, 233);
    
}

#container > form > div > div {
    display: flex;
    flex-direction: row;
}

#container > form > div > div > div {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

label {
    margin-right: 20px;

}

input {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;

}


.date {
    width: 203px;
}

textarea {
    height: 100px;
    width: 450px;
    margin-bottom: 10px;
}

button {
    padding-left: auto;
    padding-right: auto;
    width: 100px;
    height: 30px;

}

#button {
    margin-top: 10px;
    background-color: orange;
}